FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=tu_clave_secreta_super_segura_aqui

# PostgreSQL
DATABASE_URL=postgresql://admin_telemedicina:password_seguro_123@db-postgres:5432/telemedicina_agendamiento

# JWT
JWT_SECRET_KEY=tu_jwt_secret_aqui
JWT_ACCESS_TOKEN_EXPIRES=3600

# App
APP_PORT=5000
APP_HOST=0.0.0.0
