# ============================================================
#  HISTORIAL MÉDICO – Variables de entorno
# ============================================================

# Flask
FLASK_APP=run.py
FLASK_ENV=development          # development | production
SECRET_KEY=cambia_esta_clave_secreta_en_produccion

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=historial_medico_db

# JWT
JWT_SECRET_KEY=otra_clave_secreta_jwt
JWT_ACCESS_TOKEN_EXPIRES=3600   # segundos (1 hora)
