# ── Flask ──────────────────────────────────────────
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=cambia_esta_clave_secreta

# ── PostgreSQL (Neon / local) ───────────────────────
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=historial_medico_db

# ── JWT ─────────────────────────────────────────────
JWT_SECRET_KEY=otra_clave_jwt_secreta
JWT_ACCESS_TOKEN_EXPIRES=3600
